header {
    align-items: center;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.head {
    margin: 2.5rem 3rem 3rem;
}

.msg {
    font-size: 1rem;
    margin: 0;
}

.name {
    font-size: 4rem;
    margin: 0;
}

.title {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-top: 0.7rem;
}