/* HEADER SOCIALS */
.icon {
    color: white;
}

.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    color: white;
    font-size: xxx-large;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: white;
}